:root {
    --black: #202127;
    --grey: #a0a0a0;
    --white: #fff;
    --red: #c1474e;
    --yellow: #f0c311;
    --green: #7bad25;
    --red-bg: #ffdcde;
    --yellow-bg: #fff2bf;
    --green-bg: #e1f5c0;
    --blue-bg: #d1e4ff;
    --grey-disable: #dedede;
    --blue-light: #83b8ff;
    --red-light: #faa3a9;
    --yellow-light: #ffe785;
    --green-light: #c1e386;
    --grey-bg: #f3f3f3;
    --blue-txt: #0b3876;
    --blue: #0b6ff6;
    --red-txt: #651b1f;
    --yellow-txt: #6c5a12;
    --green-txt: #364e0b;
    --font-family: "Montserrat", sans-serif;
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v31-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v31-cyrillic_latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v31-cyrillic_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v31-cyrillic_latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v31-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v31-cyrillic_latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o4486g');
  src:  url('../fonts/icomoon.eot?o4486g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o4486g') format('truetype'),
    url('../fonts/icomoon.woff?o4486g') format('woff'),
    url('../fonts/icomoon.svg?o4486g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevrondown:before {
    content: "\e906";
}
.icon-email:before {
  content: "\e900";
}
.icon-logout:before {
  content: "\e901";
}
.icon-notifications:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-tg:before {
  content: "\e904";
}
.icon-vk:before {
  content: "\e905";
}
html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--black);
    display: flex;
    flex-direction: column;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 600;
    line-height: 1.2;
}
h1, .h1 {
    font-size: 2.75rem;
}
h2, .h2 {
    font-size: 2.25rem;
}
h3, .h3 {
    font-size: 1.75rem;
}
h4, .h4 {
    font-size: 1.375rem;
}
h5, .h5 {
    font-size: 1.125rem;
}
h6, .h6 {
    font-size: 1.125rem;
}
a {
    text-decoration: none;
}

.header {
    background-color: var(--blue);
    color: #fff;
}
.header a {
    color: #fff;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.container {}

.header__logo {}

.header__last-event {
    line-height: 1;
}

.header__event-heading {
    font-weight: 600;
    font-size: 14px;
}

.header__event-start {}

.header__discr {
    font-size: 12px;
}

.header__time {
    font-weight: 600;
    font-size: 12px;
}

.header__user-box {
    display: flex;
    align-items: center;
    margin-left: auto; /* блок справа */
    gap: 2em;
}
.user-special {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 40px;
}
.user-special a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1.5em;
}
.user-message {}

.count {
    position: absolute;
    font-size: .5em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
    background-color: var(--red);
    border-radius: 20px;
    height: 16px;
    padding: 0.5em;
}

.user-alert {}

.user {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    align-items: center;
}
.user__info-wrap {

}
.user__image {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
}

.user__name {
    font-weight: 700;
}

.user__discr {
    font-size: 0.75em;
}

.user__logout {
    font-size: 1.5em;
    margin-left: 30px;
}

.header__login {
    display: flex; /* или flex */
}

.user-special {
    display: flex;
    align-items: center;
    gap: 40px;
}

.user {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    align-items: center;
}

.btn {
    padding: 0.5em 1em;
    background-color: var(--yellow);
    color: var(--black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.header__bottom-inner {
    height: 64px;
    display: flex;
    align-items: center;
    gap: 0 60px;
}

.top-menu-wrap {}

.top-menu {
    list-style: none;
    margin: 0;
    padding: 4px;
    display: flex;
    gap: 0 1em;
    border-radius: 6px;
    background-color: #0C6AE8;
}

.top-menu__item {}

.top-menu__link {
    font-weight: 500;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    display: inline-block;
    transition: .3s;
}
.top-menu__link:hover,
.top-menu__link.--active {
    background-color: #fff;
    color: var(--blue);
}
.search {
    flex: 1;
}

.search-form {}

.search-form__fields {
    position: relative;
}

.search-form__input {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    background: rgba(255, 255, 255, 0.2) !important;
    border: none;
    color: #fff !important;
}
.search-form__input::placeholder {
    color: rgba(255, 255, 255, 0.69);
}
.search-form__submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    font-size: 24px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer {
    padding: 1em 0 2em;
    border-top: 1px solid #eee;
    margin-top: auto;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 124px;
}


.footer__col {}

.footer-logo {
    margin-bottom: 1em;
}

.footer__info {
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.copyrights {
    color: var(--grey);
}

.footer__socials {}

.socials {
    display: flex;
    gap: 0.8em;
    margin-top: 2em;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    border-radius: 100%;
    color: #fff;
}

.--vk {
    background-color: #2F8AF2;
}

.--tg {
    background-color: #02A6E1;
}
.footer__col.--menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
}

.footer__item {}

.footer__menu-link {
    color: var(--black);
    display: block;
    margin-bottom: 8px;
}


/*Breakpoints*/
/* Desktop First */
@media (max-width: 1399.98px) {}
@media (max-width: 1199.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 767.98px) {}
@media (max-width: 575.98px) {}
/* Mobile First */
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1258px;
    }
}

